/* Entire WebPage */
:root {
    --dark: rgb(73, 71, 71);
}

body {
    background-image: url(../images/background.jpg); 
    background-size: cover;
    background-position: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Quattrocento Sans', sans-serif;
}

/* Header Includes Title, nav bar, top photo and photo caption */
header {
    width: 100%;
    height: 300px;
    background-image: url(../images/bestskyline.png); 
    background-size: cover;
    background-position: center;
}

header figcaption {
    display: flex;
    justify-content: flex-end;
    height: 200px;
}

h1 {
    color: var(--dark);
    font-family: 'Oswald', sans-serif;
    font-size: 54px;
    font-weight: 700;
    width: 30%;
    margin-left: 20px;

}

nav {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
}

nav a {
    text-decoration: none;
}

nav ul {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    margin-right: 20px;

}    

nav li {
    font-size: 20px;
    color: black;
    padding: 10px;
    margin: 10px;
    background-color: rgba(221, 210, 210, .75);
    border: 1px var(--dark) solid;
    border-radius: 10px;
}

h2 {
    margin-right: 15px;
    margin-bottom: 15px;
    align-self: flex-end;
    color: rgb(221, 210, 210);
    background-color: var(--dark);
    font-size: 20px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px 5px var(--dark)
}

/* Main includes sections of "About Me", "Portfolio" and "Contact" */
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
}

section {
    display: flex;
    flex-grow: 1;
}

h3, h4, h6 {
    display: flex;
    justify-content: center;
    width: 20%;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    color: var(--dark);
    font-size: 35px;
    font-weight: 600;
    border-right: 2px solid var(--dark);
}

.about_me {
    display: flex;
    min-height: 220px;
}

.intro {
    display: flex;
    width: 80%;
    text-align: center;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.intro img {
    display: flex;
    height: 200px;
    width: auto;
    margin: 0 20px 0 30px;
    flex: 0 0 60px;
}

.intro p {
    display: flex;
    width: 70%;
    margin: auto;
}

    /* Work Section */
.portfolio {
    display: flex;
    min-height: 1000px;
}

.portfolio figure {
    display: flex;
    background-size: cover;
    background-position: center;
    width: 80%;
    border: 5px inset var(--dark);
}

.work {
    display: flex;
    width: 80%;
    height: 95%;
    margin: auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.work a {
    display: flex;
    text-decoration: none;
    margin: auto;
    height: 99%;
    width: 99%;
}

label a {
    display: block;
}
.main-work {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.main-work figure {
    background-image: url(../images/workout_SS.png);
    background-size: cover;
    background-position: top;
    min-width: 300px;
    height: 600px;
    z-index: 5;
}

.main-work label {
    display: flex;
    position: relative;
    align-self: flex-end;
    flex-direction: column;
    min-height: 15%;
    min-width: 15%;
    margin-bottom: 10%;
    color: rgb(221, 210, 210);
    background-color: var(--dark);
}


h5 {
    margin: 5% 0 0% 10%;
    font-size: 20px;
}

figure {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    transition: all .5s;
    overflow: hidden
}

figure p {
    font-size: 16px;
    margin: 5% 5% 5% 10%;
}

.minor-work {
    display: flex;
    height: 50%;
    margin: 10px 0 0 10px;
}

.minor-work label {
    position: relative;
    align-self: flex-end;
    flex-direction: column;
    min-height: 20%;
    min-width: 40%;
    bottom: 10%;
    color: rgb(221, 210, 210);
    background-color: var(--dark);
}

.minor-work figure {
    height: 300px;
    width: 300px;
    margin: auto;
}

.mw-1 {
    background-image: url(../images/codingquiz_SS.png);
}

.mw-2 {
    background-image: url(../images/scheduler_SS.png);
}

.mw-3 {
    background-image: url(../images/passwordgen-SS.png);
}

nav li:hover {
    background-color: rgba(221, 210, 210, 0);
    border: 2px var(--dark) solid;
}

figure:hover,
figure:target {
    border: 8px inset rgb(182, 171, 171);
    transform: scale(1.1);
    
}


    /* Contact Section */
.contact {
    min-height: 100px;
    color: var(--dark);
    font-weight: 600;
}

.contact ul {
    display: flex;
    width: 80%;
    min-height: 60px;
    justify-content: space-evenly;
    align-self: center;
}

.contact li {
    display: inline-flex;
    align-items: center;
    border-top: 1px solid var(--dark);
    border-bottom: 1px solid var(--dark);
}

.contact a {
    /* display: flex; */
    font-size: 20px;
    text-decoration: none;
    color: var(--dark)
}

/* Footer */
footer {
    display: flex;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    section {
        flex-direction: column;
    }

    .intro {
        width: 100%;
        justify-content: center;
    }
    
    .intro img {
        margin: 15px;
    }
    
    h1 {
        width: 50%;
        margin-left: 15px;
    }

    .intro p {
        width: 80%;
    }

    h3, h4, h6 {
        display: flex;
        width: 50%;
        align-self: center;
        border-bottom: 2px solid var(--dark);
        border-right: none;
    }

    .main-work figure {
        height: 450px;
    }

    .minor-work {
        flex-direction: column;
        margin: auto;
    }

    figure {
        margin: 10px;
    }

    .minor-work figure {
        margin-bottom: 10px;
    }

    .contact ul {
        margin-top: 15px;
        flex-direction: column;
        width: 40%;
    }
    
    .contact li {
        margin: 10px 0;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
        min-height: 300px;
    }

    h1 {
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }

    nav {
        display: flex;
        flex-direction: column;
    }    

    nav ul {
        display: flex;
        flex-direction: column;
        width: 30%;
        justify-content: center;
        margin-right: 0px;
        margin-top: 20px;
        text-align: center;
    }    
    
    header figcaption {
        justify-content: center;
    }

    h2 {
        margin-right: 0px;
        margin-bottom: 10px;
        align-self: flex-end;
    }

    section {
        flex-direction: column;
    }

    .intro {
        width: 100%;
        justify-content: center;
    }
    
    .intro img {
        margin: 15px;
    }
    
    .intro p {
        width: 80%;
    }

    h3, h4, h6 {
        display: flex;
        width: 50%;
        align-self: center;
        border-bottom: 2px solid var(--dark);
        border-right: none;
    }

    .main-work figure {
        height: 300px;
    }

    .minor-work {
        flex-direction: column;
        margin: auto;
    }

    figure {
        margin: 10px;
    }

    .minor-work figure {
        margin-bottom: 10px;
    }

    .contact ul {
        margin-top: 15px;
        flex-direction: column;
        width: 40%;
    }
    
    .contact li {
        margin: 10px 0;
        justify-content: center;
    }
}